<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brine.sys.mapper.UserMapper">

    <select id="getByUserAccount" resultType="com.brine.sys.entity.User">
        SELECT id,account,username,password,reg_time as regTime from sys_user WHERE account=#{account};
    </select>
</mapper>
